<!DOCTYPE html>
<html>
  <head>
    <title>Express backend</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= title %></p>
    <p><%= jsonresponse %></p>

  </body>
</html>
